* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd75e;
}
.password-cont {
  width: fit-content;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.password-cont input {
  width: 100%;
  font-size: x-large;
  padding: 10px;
  outline: none;
  border: 2px solid white;
  background-color: white;
  color: black;
}
.password-cont input::placeholder {
  color: white;
}
#hide {
  position: absolute;
  color: black;
  z-index: 1;
  top: 15%;
  right: 12px;
  cursor: pointer;
  font-size: x-large;
}
.msg {
  color: rgb(156, 149, 149);
  display: none;
}
.intro {
  text-align: center;
  margin-top: 50px;
  font-size: small;
  font-family: cursive;
  color: rgb(156, 149, 149);
}
