@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100vh;
}
body {
  background-color: #b1afff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body h1 {
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}
.cont {
  width: 100%;
  max-width: 500px;
  /* height: 600px; */
  /* border: 2px solid; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 233, 208, 0.496);
  backdrop-filter: blur(10px);
}
/* .amount {
  border: 2px solid;
} */
input {
  font-size: large;
  padding: 5px;
  outline: none;
  border: none;
}
.amount > p {
  font-size: large;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 15px;
  /* border: 2px solid; */
  padding: 5px 0;
}
.dropDown {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 100px; */
  /* border: 2px solid; */
}
.dropDown i {
  font-size: xx-large;
}
.select-cont {
  width: 100px;
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-cont select {
  padding: 3px;
  outline: none;
  border: none;
}
button {
  width: 100%;
  font-size: large;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
