:root {
  --primary-color: white;
  --secondary-color: #212121;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary-color);
}
html,
body {
  width: 100%;
  height: 100%;
  margin: auto;
}
.darkTheme {
  --primary-color: black;
  --secondary-color: white;
}

.hero {
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: var(--primary-color);
}
.hero nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #fd8f5c;
}
.hero nav img {
  width: 130px;
  /* height: 150px; */
}
.hero nav i {
  font-size: xx-large;
  cursor: pointer;
  margin-right: 35px;
}
.hero ul {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: large;
  font-weight: 600;
}
.hero li {
  overflow: hidden;
}
.hero a {
  text-decoration: none;
  position: relative;
}
.hero a::before {
  content: "";
  width: 100%;
  height: 3.5px;
  background-color: #fd8f5c;
  position: absolute;
  left: 0;
  bottom: -2px;
  transform: translateX(-100%);
}
.hero a:hover:before {
  animation: move 0.9s linear forwards;
}
@keyframes move {
  100% {
    transform: translateX(0%);
  }
}
.sub-hero {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: calc(100% - 10%);
  overflow: hidden;
}
.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 50px;
}
.info .icon {
  margin-top: 50px;
  font-size: xx-large;
  cursor: pointer;
}
.info button {
  width: fit-content;
  font-size: large;
  padding: 8px;
  outline: none;
  border: 2px solid #fd8f5c;
  background-color: #fd8f5c;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s;
}
.info h1 {
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(15) 2 alternate,
    blink 800ms steps(13) infinite normal;
}
.info h1 span {
  color: #fd8f5c;
}
@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: black;
  }

  to {
    border-color: transparent;
  }
}
.info button:hover {
  background-color: transparent;
  color: #fd8f5c;
}
.img {
  width: 50%;
  background-image: url(img/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130% 130%;
  position: relative;
}
.img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -80px;
  transform: translateX(0);
  transition: transform 3s;
  cursor: pointer;
}
.img:hover img {
  transform: translateX(8%);
}

@media (max-width: 1000px) {
  .hero {
    width: 100%;
  }
}
