* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, red, blue);
  overflow: hidden;
}
.main {
  width: 100%;
  max-width: 1000px;
  height: 90%;
  border: 2px solid none;
  box-shadow: 5px 20px 100px;
  margin: 2% auto 2%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.main > h1 {
  text-align: center;
  font-size: 5rem;
}
.img-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.img-cont .left {
  width: 200px;
}
.left > h2 {
  text-align: center;
  margin-bottom: 20px;
}
.left img {
  width: 100%;
  border-radius: 25%;
}
.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.Play {
  font-size: 2rem;
  color: red;
  border: 2px solid white;
  border-radius: 0.8rem;
  padding: 0.5rem;
  width: 20%;
  cursor: pointer;
  transition: all ease 0.4s;
}
.Play:hover {
  background: transparent;
  color: white;
}
